/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/background.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #222;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: #fff;
  font-size: 30px;
  margin-right: 20px;
  margin-left: 30px;
  cursor: pointer;
}
.logo .logo-name {
  color: #A3DF02;
  font-size: 22px;
  font-weight: 700;
}
.header-LOGO{
    float: left;
    cursor: pointer;
}
.LOGO{
    width: 60px;
    height: auto;
    padding-top: 0px;
}
nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #222;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 4px 0;
  padding: 7px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #A3DF02;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #fff;
}
.nav-link .link {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #111;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}


.wrapper{
    width: 100%;
    position: relative;
    top: 52%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.info {
    width: 60%;
    float: right;
    padding-right: 100px;
}

.info h1 {
    padding: 120px 0px 0px;
    font-size: 50px;
    color: #fff;
    line-height: 20px;
}

.info p {
    padding: 30px 0px 0px;
    font-family: arial;
    font-size: 15px;
    color: #fff;
    line-height: 15px;
}

.SWAMP {
    color: #A3DF02;
    font-family: 'Poppins', sans-serif;
}

.flood {
    padding-top: 45px;
    padding-left: 50px;
    width: 35%;
}
    
.team {
    position: relative;
    padding-top: 170px;
    padding-left: 100px;
    display: flex;
}
.team .members {
    max-width: 800px;
    text-align: center;
}
.team .members h1 {
    padding-top: 20px;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}

.container {
    padding: 5px;
    display: flex;
    justify-content: center;
}
    
.card {
    background: white;
    width: 20%;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
}

.card-image {
    background-color: #A3DF02;
    height: 120px;
    width: 120px;
    margin-bottom: 15px;
    background-size: cover;
    margin: 0 auto;
    margin-top: 15px;
    clip-path: circle();
    border-radius: 50%;
    border: 7px solid #A3DF02;
}
    
.card h2 {
    padding: 5px;
    text-align: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
    
.card p {
    padding: 2px;
    text-align: center;
    font-size: 10px;
    color: #555;
}

.carla {
    background-image: url(img/carla.jpg)
}

.lanz {
    background-image: url(img/lanz.jpg)
}

.marwin {
    background-image: url(img/marwin.jpg)
}

.edcelle {
    background-image: url(img/edcell.png)
}

.jm {
    background-image: url(img/jm.png)
}

.harvey {
    background-image: url(img/harvey.png)
}

.sirmark {
    background-image: url(img/sirmark.jpg)
}
