/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}
body {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.wrapper{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0,1);
}
h1{
    font-size: 2rem;
    color: #A3DF02;
    margin-bottom: 1.2rem;
}
form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}
button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background: #111;
}
button:hover{
    background: #A3DF02;
    color: #111; 
}
.or{
  font-size: 0.7rem;
  margin-top: 1.5rem;
}
.icons i{
  color: #07001f;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  margin-top: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  border: 2px solid #dfe9f5;
}
.icons i:hover{
  color: #fff !important;
  background: #A3DF02;
  transition: 0.2s;
}
.icons i:first-child{
  color: #de5246;
}
.icons i:last-child{
  color: #3b5998;
}
input:focus{
    border: 1px solid rgb(192, 192, 192);
}
.terms{
    margin-top: 0.2rem;
}
.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}
.terms label{
    font-size: 0.7rem;
}
.terms a{
    color: #A3DF02;
    text-decoration: none;
}
.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}
.memeber a{
    color: rgb(17, 107, 143);
    text-decoration: none;
}
.homepage{
    font-size: 0.7rem;
    margin-top: 0.5rem;
    color: #636363;
}
.homepage a{
    color: green;
    text-decoration: none;
}